USE [DBAlumnos]
GO
/****** Object:  Table [dbo].[Alumnos]    Script Date: 25/11/2025 20:43:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alumnos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NULL,
	[Cedula] [nvarchar](20) NULL,
	[Carrera] [nvarchar](50) NULL,
	[Semestre] [nvarchar](20) NULL,
	[Jornada] [nvarchar](20) NULL,
	[Usuario] [nvarchar](50) NULL,
	[Contrasena] [nvarchar](100) NULL,
	[RecibirNotificaciones] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Alumnos] ON 

INSERT [dbo].[Alumnos] ([Id], [Nombre], [Cedula], [Carrera], [Semestre], [Jornada], [Usuario], [Contrasena], [RecibirNotificaciones], [FechaRegistro]) VALUES (1, N'Juan Pérez', N'8-123-456', N'Ingeniería de Sistemas', N'3', N'Diurna', N'jperez', N'pass123', 1, CAST(N'2025-11-25T19:14:09.737' AS DateTime))
INSERT [dbo].[Alumnos] ([Id], [Nombre], [Cedula], [Carrera], [Semestre], [Jornada], [Usuario], [Contrasena], [RecibirNotificaciones], [FechaRegistro]) VALUES (2, N'María González', N'4-567-890', N'Ingeniería Industrial', N'5', N'Nocturna', N'mgonzalez', N'clave456', 0, CAST(N'2025-11-25T19:14:09.737' AS DateTime))
INSERT [dbo].[Alumnos] ([Id], [Nombre], [Cedula], [Carrera], [Semestre], [Jornada], [Usuario], [Contrasena], [RecibirNotificaciones], [FechaRegistro]) VALUES (3, N'Carlos Rodríguez', N'2-345-678', N'Ingeniería Civil', N'2', N'Diurna', N'crodriguez', N'abc789', 1, CAST(N'2025-11-25T19:14:09.737' AS DateTime))
SET IDENTITY_INSERT [dbo].[Alumnos] OFF
GO
ALTER TABLE [dbo].[Alumnos] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
